@font-face {
  font-family: 'Oswald';
  src: url(../fonts/font/Regular.ttf);
}

@font-face {
  font-family: 'Oswald';
  src: url(../fonts/font/ExtraLight.ttf);
  font-weight: 200;
}

@font-face {
  font-family: 'Oswald';
  src: url(../fonts/font/Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: 'Oswald';
  src: url(../fonts/font/Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: 'Oswald';
  src: url(../fonts/font/SemiBold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: 'Oswald';
  src: url(../fonts/font/Bold.ttf);
  font-weight: bold;
}

hr {
  border: 0;
  height: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.h1 {
  font-size: 2.5rem;
}

.h2 {
  font-size: 2rem;
}

.h3 {
  font-size: 1.75rem;
}

.h4 {
  font-size: 1.5rem;
}

.h5 {
  font-size: 1.25rem;
}

.h6 {
  font-size: 1rem;
}

.text-left {
  text-align: left
}

.text-center {
  text-align: center
}

.text-right {
  text-align: right
}

.rounded-circle {
  border-radius: 50%;
}

.md .color-theme-green a {
  color: #212121;
}

.fab i {

  color: #FFF;

}

/* =========== Home =========== */

.home-menu {
  font-family: 'Oswald', sans-serif;
}

.home-menu .card {
  background: #0D6F1F;
  color: #FFF;
  text-align: center;
}

.card i {
  font-size: 40px;
}

.card .author {
  color: #555555;
}

/* =========== Programming =========== */

.programming .list-group-title {
  font-size: 14px !important;
}

/* =========== Projets =========== */

.projects {
  font-family: 'Roboto', sans-serif;
}

.title {
  font-weight: bold
}

/* =========== Projet =========== */

.navbar.no-border::after {
  display: none;
}

.project .header {
  padding: 0px 20px 20px;
  background-color: #4caf50;
  color: #FFF;
}

.project .category {
  font-size: 30px;
  text-align: center
}

.title {
  font-weight: 700
}

.info {
  text-align: center;
  font-weight: 300
}

.project .fab {
  font-size: 25px;
  font-weight: 700
}
